SPAClientApp/Connected Services/UsuariosService/UsuariosService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="UsuariosService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1234/UsuariosService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1234/UsuariosService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1234/UsuariosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsuariosService_GetUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuarios" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_GetUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_AddUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_AddUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_UpdateUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_UpdateUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_GetUsuarioByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuarioByEmail" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_GetUsuarioByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuarioByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_ChangeStatusUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeStatusUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_ChangeStatusUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeStatusUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsuariosService">
    <wsdl:operation name="GetUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuariosService/GetUsuarios" message="tns:IUsuariosService_GetUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuariosService/GetUsuariosResponse" message="tns:IUsuariosService_GetUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuariosService/AddUsuario" message="tns:IUsuariosService_AddUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuariosService/AddUsuarioResponse" message="tns:IUsuariosService_AddUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuariosService/UpdateUsuario" message="tns:IUsuariosService_UpdateUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuariosService/UpdateUsuarioResponse" message="tns:IUsuariosService_UpdateUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsuarioByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuariosService/GetUsuarioByEmail" message="tns:IUsuariosService_GetUsuarioByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuariosService/GetUsuarioByEmailResponse" message="tns:IUsuariosService_GetUsuarioByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeStatusUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuariosService/ChangeStatusUsuario" message="tns:IUsuariosService_ChangeStatusUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuariosService/ChangeStatusUsuarioResponse" message="tns:IUsuariosService_ChangeStatusUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsuariosService" type="tns:IUsuariosService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsuarios">
      <soap:operation soapAction="http://tempuri.org/IUsuariosService/GetUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuariosService/AddUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuariosService/UpdateUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsuarioByEmail">
      <soap:operation soapAction="http://tempuri.org/IUsuariosService/GetUsuarioByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeStatusUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuariosService/ChangeStatusUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsuariosService">
    <wsdl:port name="BasicHttpBinding_IUsuariosService" binding="tns:BasicHttpBinding_IUsuariosService">
      <soap:address location="http://localhost:1234/UsuariosService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>