SPAClientApp/Connected Services/UsuariosService/UsuariosService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EUsuario" nillable="true" type="tns:EUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEUsuario" nillable="true" type="tns:ArrayOfEUsuario" />
  <xs:complexType name="EUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Baja" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Clave" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoPostal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Registro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Salario" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EUsuario" nillable="true" type="tns:EUsuario" />
  <xs:complexType name="AnswerMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnswerMessage" nillable="true" type="tns:AnswerMessage" />
</xs:schema>