SPAClientApp/Connected Services/PedidosProveedoresService/PedidosProveedoresService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EPedidoProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:double" />
      <xs:element minOccurs="0" name="ClaveProveedor" type="xs:int" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Insumos" nillable="true" type="tns:ArrayOfEInsumoPedido" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoPedido" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EPedidoProveedor" nillable="true" type="tns:EPedidoProveedor" />
  <xs:complexType name="ArrayOfEInsumoPedido">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EInsumoPedido" nillable="true" type="tns:EInsumoPedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEInsumoPedido" nillable="true" type="tns:ArrayOfEInsumoPedido" />
  <xs:complexType name="EInsumoPedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoInsumo" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoPedidoProveedor" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:double" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EInsumoPedido" nillable="true" type="tns:EInsumoPedido" />
  <xs:complexType name="AnswerMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnswerMessage" nillable="true" type="tns:AnswerMessage" />
  <xs:complexType name="ArrayOfEPedidoProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EPedidoProveedor" nillable="true" type="tns:EPedidoProveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEPedidoProveedor" nillable="true" type="tns:ArrayOfEPedidoProveedor" />
</xs:schema>