SPAClientApp/Connected Services/ProductosService/ProductosService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EProducto" nillable="true" type="tns:EProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEProducto" nillable="true" type="tns:ArrayOfEProducto" />
  <xs:complexType name="EProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoReceta" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Foto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecioCompra" type="xs:double" />
      <xs:element minOccurs="0" name="PrecioVenta" type="xs:double" />
      <xs:element minOccurs="0" name="Registro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Restricciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EProducto" nillable="true" type="tns:EProducto" />
  <xs:complexType name="EReceta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clave" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ingredientes" nillable="true" type="tns:ArrayOfEIngrediente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EReceta" nillable="true" type="tns:EReceta" />
  <xs:complexType name="ArrayOfEIngrediente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EIngrediente" nillable="true" type="tns:EIngrediente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEIngrediente" nillable="true" type="tns:ArrayOfEIngrediente" />
  <xs:complexType name="EIngrediente">
    <xs:sequence>
      <xs:element minOccurs="0" name="CantidadIngrediente" type="xs:double" />
      <xs:element minOccurs="0" name="CantidadInsumo" type="xs:double" />
      <xs:element minOccurs="0" name="CodigoInsumo" type="xs:int" />
      <xs:element minOccurs="0" name="NombreInsumo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecioInsumo" type="xs:double" />
      <xs:element minOccurs="0" name="Unidad" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EIngrediente" nillable="true" type="tns:EIngrediente" />
  <xs:complexType name="ArrayOfEInsumo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EInsumo" nillable="true" type="tns:EInsumo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEInsumo" nillable="true" type="tns:ArrayOfEInsumo" />
  <xs:complexType name="EInsumo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:double" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecioCompra" type="xs:double" />
      <xs:element minOccurs="0" name="ProveedorDeInsumo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Registro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Restricciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnidadMedida" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EInsumo" nillable="true" type="tns:EInsumo" />
  <xs:complexType name="AnswerMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnswerMessage" nillable="true" type="tns:AnswerMessage" />
</xs:schema>