SPAClientApp/Connected Services/ProductosService/ProductosService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ProductosService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1234/ProductosService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1234/ProductosService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1234/ProductosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductosService_GetProductosList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductosList" />
  </wsdl:message>
  <wsdl:message name="IProductosService_GetProductosList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductosListResponse" />
  </wsdl:message>
  <wsdl:message name="IProductosService_GetReceta_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReceta" />
  </wsdl:message>
  <wsdl:message name="IProductosService_GetReceta_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecetaResponse" />
  </wsdl:message>
  <wsdl:message name="IProductosService_GetIngredientes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIngredientes" />
  </wsdl:message>
  <wsdl:message name="IProductosService_GetIngredientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIngredientesResponse" />
  </wsdl:message>
  <wsdl:message name="IProductosService_AddProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProducto" />
  </wsdl:message>
  <wsdl:message name="IProductosService_AddProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IProductosService_IsDuplicated_InputMessage">
    <wsdl:part name="parameters" element="tns:IsDuplicated" />
  </wsdl:message>
  <wsdl:message name="IProductosService_IsDuplicated_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsDuplicatedResponse" />
  </wsdl:message>
  <wsdl:message name="IProductosService_UpdateProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProducto" />
  </wsdl:message>
  <wsdl:message name="IProductosService_UpdateProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IProductosService_ChangeProductoStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeProductoStatus" />
  </wsdl:message>
  <wsdl:message name="IProductosService_ChangeProductoStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeProductoStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IProductosService_CheckIngredientesStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckIngredientesStatus" />
  </wsdl:message>
  <wsdl:message name="IProductosService_CheckIngredientesStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckIngredientesStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IProductosService_GetProductById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductById" />
  </wsdl:message>
  <wsdl:message name="IProductosService_GetProductById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductosService">
    <wsdl:operation name="GetProductosList">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductosService/GetProductosList" message="tns:IProductosService_GetProductosList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductosService/GetProductosListResponse" message="tns:IProductosService_GetProductosList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReceta">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductosService/GetReceta" message="tns:IProductosService_GetReceta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductosService/GetRecetaResponse" message="tns:IProductosService_GetReceta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIngredientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductosService/GetIngredientes" message="tns:IProductosService_GetIngredientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductosService/GetIngredientesResponse" message="tns:IProductosService_GetIngredientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductosService/AddProducto" message="tns:IProductosService_AddProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductosService/AddProductoResponse" message="tns:IProductosService_AddProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsDuplicated">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductosService/IsDuplicated" message="tns:IProductosService_IsDuplicated_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductosService/IsDuplicatedResponse" message="tns:IProductosService_IsDuplicated_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductosService/UpdateProducto" message="tns:IProductosService_UpdateProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductosService/UpdateProductoResponse" message="tns:IProductosService_UpdateProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeProductoStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductosService/ChangeProductoStatus" message="tns:IProductosService_ChangeProductoStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductosService/ChangeProductoStatusResponse" message="tns:IProductosService_ChangeProductoStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckIngredientesStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductosService/CheckIngredientesStatus" message="tns:IProductosService_CheckIngredientesStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductosService/CheckIngredientesStatusResponse" message="tns:IProductosService_CheckIngredientesStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductById">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductosService/GetProductById" message="tns:IProductosService_GetProductById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductosService/GetProductByIdResponse" message="tns:IProductosService_GetProductById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductosService" type="tns:IProductosService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductosList">
      <soap:operation soapAction="http://tempuri.org/IProductosService/GetProductosList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceta">
      <soap:operation soapAction="http://tempuri.org/IProductosService/GetReceta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIngredientes">
      <soap:operation soapAction="http://tempuri.org/IProductosService/GetIngredientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProducto">
      <soap:operation soapAction="http://tempuri.org/IProductosService/AddProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsDuplicated">
      <soap:operation soapAction="http://tempuri.org/IProductosService/IsDuplicated" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProducto">
      <soap:operation soapAction="http://tempuri.org/IProductosService/UpdateProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeProductoStatus">
      <soap:operation soapAction="http://tempuri.org/IProductosService/ChangeProductoStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckIngredientesStatus">
      <soap:operation soapAction="http://tempuri.org/IProductosService/CheckIngredientesStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductById">
      <soap:operation soapAction="http://tempuri.org/IProductosService/GetProductById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductosService">
    <wsdl:port name="BasicHttpBinding_IProductosService" binding="tns:BasicHttpBinding_IProductosService">
      <soap:address location="http://localhost:1234/ProductosService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>