SPAClientApp/Connected Services/InsumosService/InsumosService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1234/InsumosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.Model" />
  <xs:element name="GetInsumosList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="criterio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="valor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInsumosListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="GetInsumosListResult" nillable="true" type="q1:ArrayOfEInsumo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInsumo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="insumo" nillable="true" type="q2:EInsumo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInsumoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="AddInsumoResult" nillable="true" type="q3:AnswerMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInsumo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldInsumoID" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="newInsumo" nillable="true" type="q4:EInsumo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInsumoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="UpdateInsumoResult" nillable="true" type="q5:AnswerMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeInsumoStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insumoID" type="xs:int" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeInsumoStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="ChangeInsumoStatusResult" nillable="true" type="q6:AnswerMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarCantidades">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="nuevasCantidades" nillable="true" type="q7:ArrayOfEInsumo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarCantidadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="ActualizarCantidadesResult" nillable="true" type="q8:AnswerMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsDuplicated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreActual" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreABuscar" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsDuplicatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsDuplicatedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUsedInReceta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoInsumo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUsedInRecetaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsUsedInRecetaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>