SPAClientApp/Connected Services/PedidosClientesService/PedidosClientesService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEPedidoCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EPedidoCliente" nillable="true" type="tns:EPedidoCliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEPedidoCliente" nillable="true" type="tns:ArrayOfEPedidoCliente" />
  <xs:complexType name="EPedidoCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:double" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="CostoTotal" type="xs:double" />
      <xs:element minOccurs="0" name="Entrega" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NumeroProductos" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Solicitud" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoPedido" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EPedidoCliente" nillable="true" type="tns:EPedidoCliente" />
  <xs:complexType name="ArrayOfEProductoComprado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EProductoComprado" nillable="true" type="tns:EProductoComprado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEProductoComprado" nillable="true" type="tns:ArrayOfEProductoComprado" />
  <xs:complexType name="EProductoComprado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoPedido" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoProductoVenta" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoReceta" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Foto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:double" />
      <xs:element minOccurs="0" name="PrecioCompra" type="xs:double" />
      <xs:element minOccurs="0" name="PrecioVenta" type="xs:double" />
      <xs:element minOccurs="0" name="Restricciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EProductoComprado" nillable="true" type="tns:EProductoComprado" />
  <xs:complexType name="ArrayOfEProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EProducto" nillable="true" type="tns:EProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEProducto" nillable="true" type="tns:ArrayOfEProducto" />
  <xs:complexType name="EProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoReceta" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Foto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecioCompra" type="xs:double" />
      <xs:element minOccurs="0" name="PrecioVenta" type="xs:double" />
      <xs:element minOccurs="0" name="Registro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Restricciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EProducto" nillable="true" type="tns:EProducto" />
  <xs:complexType name="AnswerMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnswerMessage" nillable="true" type="tns:AnswerMessage" />
</xs:schema>