SPAClientApp/Connected Services/PedidosClientesService/PedidosClientesService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6666/PedidosClientesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.Model" />
  <xs:element name="GetPedidosClientesList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="criterio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPedidosClientesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="GetPedidosClientesListResult" nillable="true" type="q1:ArrayOfEPedidoCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommonPedidosList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommonPedidosListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="GetCommonPedidosListResult" nillable="true" type="q2:ArrayOfEPedidoCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductosComprados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clavePedido" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductosCompradosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="GetProductosCompradosResult" nillable="true" type="q3:ArrayOfEProductoComprado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClienteInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDCliente" type="xs:int" />
        <xs:element minOccurs="0" name="IDDirección" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClienteInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="GetClienteInfoResult" nillable="true" type="q4:ECliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductosList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductosListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="GetProductosListResult" nillable="true" type="q5:ArrayOfEProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>