SPAClientApp/Connected Services/PedidosClientesService/PedidosClientesService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1234/PedidosClientesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.Model" />
  <xs:element name="GetPedidosClientesList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPedidosClientesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="GetPedidosClientesListResult" nillable="true" type="q1:ArrayOfEPedidoCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommonPedidosList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommonPedidosListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="GetCommonPedidosListResult" nillable="true" type="q2:ArrayOfEPedidoCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductosComprados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clavePedido" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductosCompradosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="GetProductosCompradosResult" nillable="true" type="q3:ArrayOfEProductoComprado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductosList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductosListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="GetProductosListResult" nillable="true" type="q4:ArrayOfEProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPedidoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="pedido" nillable="true" type="q5:EPedidoCliente" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="productos" nillable="true" type="q6:ArrayOfEProductoComprado" />
        <xs:element minOccurs="0" name="idCliente" type="xs:int" />
        <xs:element minOccurs="0" name="idDireccion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPedidoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="AddPedidoClienteResult" nillable="true" type="q7:AnswerMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckProductosSeleccionados">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="productos" nillable="true" type="q8:ArrayOfEProductoComprado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckProductosSeleccionadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckProductosSeleccionadosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeStatusPedidoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdPedido" type="xs:int" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeStatusPedidoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="ChangeStatusPedidoClienteResult" nillable="true" type="q9:AnswerMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPedidoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPedidoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="GetPedidoClienteResult" nillable="true" type="q10:EPedidoClienteDetallado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestablishChanges">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="productos" nillable="true" type="q11:ArrayOfEProductoComprado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestablishChangesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="RestablishChangesResult" nillable="true" type="q12:AnswerMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelPedidoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdPedido" type="xs:int" />
        <xs:element minOccurs="0" name="motivo" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="productos" nillable="true" type="q13:ArrayOfEProductoComprado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelPedidoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="CancelPedidoClienteResult" nillable="true" type="q14:AnswerMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>