SPAClientApp/Connected Services/ProveedoresService/ProveedoresService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1234/ProveedoresService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.Model" />
  <xs:element name="GetProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDProveedor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="GetProveedorResult" nillable="true" type="q1:EProveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProveedoresList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="criterio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="valor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProveedoresListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="GetProveedoresListResult" nillable="true" type="q2:ArrayOfEProveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="proveedor" nillable="true" type="q3:EProveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="AddProveedorResult" nillable="true" type="q4:AnswerMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldClave" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="proveedor" nillable="true" type="q5:EProveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="UpdateProveedorResult" nillable="true" type="q6:AnswerMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeProveedorStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProveedor" type="xs:int" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeProveedorStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="ChangeProveedorStatusResult" nillable="true" type="q7:AnswerMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>