SPAClientApp/Connected Services/ProveedoresService/ProveedoresService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoriaInsumo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Clave" type="xs:int" />
      <xs:element minOccurs="0" name="DireccionEmpresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rfc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EProveedor" nillable="true" type="tns:EProveedor" />
  <xs:complexType name="ArrayOfEProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EProveedor" nillable="true" type="tns:EProveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEProveedor" nillable="true" type="tns:ArrayOfEProveedor" />
  <xs:complexType name="AnswerMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnswerMessage" nillable="true" type="tns:AnswerMessage" />
</xs:schema>